<mat-card>
  <h1>{{ type | titlecase }} Registration</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>{{ type | titlecase }} ID</mat-label>
      <input id="id" formControlName="id" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ type | titlecase }} Location</mat-label>
      <input id="loc" formControlName="loc" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ type | titlecase }} Name</mat-label>
      <input id="name" formControlName="name" matInput />
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">SUBMIT</button>
  </form>
</mat-card>
