<mat-card>
  <h1>Create New Block</h1>
  <form [formGroup]="producerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Crop ID</mat-label>
      <input id="c_id" formControlName="c_id" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Producer ID</mat-label>
      <input id="id" formControlName="id" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Produced Location</mat-label>
      <input id="p_loc" formControlName="p_loc" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Producer Name</mat-label>
      <input id="p_name" formControlName="p_name" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        id="p_date"
        formControlName="p_date"
        matInput
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Produced Weight</mat-label>
      <input id="p_w" formControlName="p_w" matInput />
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">
      CREATE BLOCK
    </button>
  </form>
  <div *ngIf="imagePath">
    <img src="{{ imagePath }}" width="300px" />

    <mat-card class="download">
      <a href="{{ imagePath }}"><img width="50px" src="assets/dw.png" /></a>
    </mat-card>
  </div>
  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>
