<mat-card>
  <h1>Create New Block</h1>
  <mat-form-field appearance="fill">
    <mat-label>Crop ID</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Producer ID</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Produced Location</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Producer Name</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Produced Date</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Produced Weight</mat-label>
    <input matInput />
  </mat-form-field>

  <button mat-raised-button color="primary">CREATE BLOCK</button>
</mat-card>
